
* {
    border: solid 1px red;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
    color: #250057;
  }
body{
    margin: 0;
}
main{
    display: grid;
    border: 2px blue solid;
    height: 1000px;
    width: 100%;
    max-width: 1440px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding: 0 4rem;
    margin: 0px auto;

}

.box{
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
}

.menu{
    grid-column-start: 1;
    grid-column-end: span 3;
}

.content{
    grid-column-start: 4;
    grid-column-end: span 8;
    grid-row-start: 1;
    
}